{% extends 'base.html' %}

{% block title %}
    Vibe Check
{% endblock %}
{% block main %}
    <section>
      <div class="container">
        <h2>Our Recommended {{ selected_option }} Playlists</h2>
          <br>
        <div class="row">
          {% for name,info in recommendations.items() %}
          <div class="col-sm-2">
              <h3>{{ name }}</h3>
              <a href="{{ info[1] }}">
                  <img src="{{ info[2] }}" class="img-fluid">
              </a>
            <figcaption><strong>{{ info[0] }}</strong></figcaption>
          </div>
          {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}